body {
  position: fixed;
  background-color: white;
  font-family: omnes, sans-serif;
  font-style: normal;
  font-weight: 200;
  cursor: default;
}

.button {
  position: fixed;
  font-family: omnes, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  text-align: center;
  color: white;
  border: none;
  border-radius: 12px;
  padding-top: 2vh; padding-bottom: 2vh;
  left: 5vw;
  width: 16vw; height: 7vh;
  cursor: pointer;
}
.buttonRed {
  background-color: #b2242e;
}
.buttonPink {
  background-color: #bf586f;
}

#button1 {
  top: 27.5vh;
}
#output {
  position: fixed;
  font-size: 20px;
  top: 40vh; height: 30vh;
  left: 48vw; width: 30vw;
  color: #bf586f;
  /* background-color: white; */
  /* background-color: grey; */
  font-weight: 400;
  line-height: 2.25;
  z-index: 550;
}

#button2 {
  top: 65.5vh;
}
#button2input {
  position: fixed;
  font-family: omnes, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  text-align: center;
  color: #bf586f;
  background-color: white;
  border: none;
  border-radius: 12px;
  /* padding-top: 2vh; padding-bottom: 2vh; */
  left: 5vw; top: 49.5vh;
  width: 16vw; height: 12vh;
  cursor: text;
}
#button2output {
  position: fixed;
  font-size: 30px;
  top: 30vh; height: 6vh;
  left: 48vw; width: 30vw;
  color: #bf586f;
  /* background-color: white; */
  /* background-color: grey; */
  font-weight: 600;
  line-height: 2.25;
  z-index: 550;
}

.button3 {
  top: 38.5vh;
}
#button3-1 {
  z-index: 503;
}
#button3-2 {
  z-index: 502;
}
#button3-3 {
  z-index: 501;
}

#image1 {
  position: fixed;
  z-index: 503;
  top: 15vh; height: 70vh;
  left: 40vw; width: 46vw;
}
#image2 {
  position: fixed;
  z-index: 502;
  top: 15vh; height: 70vh;
  left: 40vw; width: 46vw;
  display: none;
}
#image3 {
  position: fixed;
  z-index: 501;
  top: 15vh; height: 70vh;
  left: 40vw; width: 46vw;
  display: none;
}

#logo {
  position: fixed;
  left: 30vw; width: 8vw;
  top: 5vh;
}

@media only screen and (max-width: 800px) {

  #logo {
    position: fixed;
    left: 10vw; width: 20vw;
    top: 3vh; height: 4vh;
  }
  #button1{
    padding-top: 1.5vh; padding-bottom: 1.5vh;
    position: fixed;
    left: 20vw;
    width: 25vw;
    top: 74vh;
    height: 8vh;
  }
  #button3-1 {
    padding-top: 1.5vh; padding-bottom: 1.5vh;
    position: fixed;
    left: 55vw;
    width: 25vw;
    top: 74vh;
    height: 8vh;
  }
  #button3-2 {
    padding-top: 1.5vh; padding-bottom: 1.5vh;
    position: fixed;
    left: 55vw;
    width: 25vw;
    top: 74vh;
    height: 8vh;
  }
  #button3-3 {
    padding-top: 1.5vh; padding-bottom: 1.5vh;
    position: fixed;
    left: 55vw;
    width: 25vw;
    top: 74vh;
    height: 8vh;
  }
  #button2input {
    /* padding-top: 1.5vh; padding-bottom: 1.5vh; */
    position: fixed;
    left: 20vw;
    width: 25vw;
    top: 86vh;
    height: 8vh;
  }
  #button2 {
    padding-top: 1.5vh; padding-bottom: 1.5vh;
    position: fixed;
    left: 55vw;
    width: 25vw;
    top: 86vh;
    height: 8vh;
  }

  #image1 {
    position: fixed;
    z-index: 503;
    top: 15vh; height: 50vh;
    left: 7vw; width: 86vw;
  }
  #image2 {
    position: fixed;
    z-index: 503;
    top: 15vh; height: 50vh;
    left: 7vw; width: 86vw;
  }
  #image3 {
    position: fixed;
    z-index: 503;
    top: 15vh; height: 50vh;
    left: 7vw; width: 86vw;
  }
  #output {
    position: fixed;
    font-size: 12px;
    top: 35vh; height: 28vh;
    left: 25vw; width: 50vw;
    color: #bf586f;
    /* background-color: white; */
    /* background-color: grey; */
    font-weight: 400;
    line-height: 2.25;
    z-index: 550;
  }
  #button2output {
    position: fixed;
    font-size: 20px;
    top: 26vh; height: 8vh;
    left: 25vw; width: 50vw;
    color: #bf586f;
    /* background-color: white; */
    /* background-color: grey; */
    font-weight: 600;
    line-height: 1.5;
    z-index: 550;
  }
}
